<article id="popup" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a class="popup__close close-popup" href="#">
                <span class="sr-only">Close window</span>
            </a>
            <img src="images/about-first.jpg" alt="about" width="500" height="500">
            <div class="popup__text">
                <h3 class="popup__title">Our technology</h3>
                <p>For me, food is all about balance. If you eat plenty of fruits, vegetables, and an appropriate amount
                    of
                    poultry, fish, and red meat that are sourced from good places, you're doing well.
                </p>
                <h3 class="popup__title">Our equipment</h3>
                <p>
                    Laboratory Testing
                    It's important to make sure that the meat you're consuming is hormone-free online shop.
                </p>
            </div>
        </div>
    </div>
</article>
<article id="popup1" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a class="popup__close close-popup" href="#">
                <span class="sr-only">Close window</span>
            </a>
            <img src="images/about-second.jpg" alt="about" width="500" height="500">
            <div class="popup__text">
                <h3 class="popup__title">Our technology</h3>
                <p>For me, food is all about balance. If you eat plenty of fruits, vegetables, and an appropriate amount
                    of
                    poultry, fish, and red meat that are sourced from good places, you're doing well.
                </p>
                <h3 class="popup__title">Our equipment</h3>
                <p>
                    Laboratory Testing
                    It's important to make sure that the meat you're consuming is hormone-free online shop.
                </p>
            </div>
        </div>
    </div>
</article>
<article id="popup2" class="popup">
    <div class="popup__body">
        <div class="popup__content">
            <a class="popup__close close-popup" href="#">
                <span class="sr-only">Close window</span>
            </a>
            <img src="images/about-third.jpg" alt="about" width="500" height="500">
            <div class="popup__text">
                <h3 class="popup__title">Our technology</h3>
                <p>For me, food is all about balance. If you eat plenty of fruits, vegetables, and an appropriate amount
                    of
                    poultry, fish, and red meat that are sourced from good places, you're doing well.
                </p>
                <h3 class="popup__title">Our equipment</h3>
                <p>
                    Laboratory Testing
                    It's important to make sure that the meat you're consuming is hormone-free online shop.
                </p>
            </div>
        </div>
    </div>
</article>