<footer class="footer">
    <div class="container footer__wrapper">
        <a class="logo footer__logo" href="#">
            <img class="logo__img" src="images/logo.svg" alt="Логотип М'ясо" width="122" height="122">
        </a>
        <div class="footer__menu footer__menu--first">
            <h2 class="footer__title">Occasions</h2>
            <ul class="footer__list">
                <li class="footer__item"><a class="link footer__link" href="#">Gifts & Bundles </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Easy Cooking </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">All Products </a></li>
            </ul>
        </div>
        <div class="footer__menu footer__menu--second">
            <h2 class="footer__title">All Categories</h2>
            <ul class="footer__list">
                <li class="footer__item"><a class="link footer__link" href="#">Lamb Meat </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Chicken Pikled </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Parma Ham </a></li>
            </ul>
        </div>
        <div class="footer__menu footer__menu--third">
            <h2 class="footer__title">Gifts & Bundles</h2>
            <ul class="footer__list">
                <li class="footer__item"><a class="link footer__link" href="#">Sweet Tooth Special </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Discover Local </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Baking Box </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Spicy Heat Lover's Box
                    </a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Snacking Sensations </a></li>
            </ul>
        </div>
        <div class="footer__menu footer__menu--fourth">
            <h2 class="footer__title">Our Brands</h2>
            <ul class="footer__list">
                <li class="footer__item"><a class="link footer__link" href="#">Meet shop</a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Meet shop</a></li>
                <li class="footer__item"><a class="link footer__link" href="#">Meet shop</a></li>
            </ul>
        </div>
    </div>
    <div class="footer__rights">
        <p>&copy;
            2023 Meet Shop </p>
    </div>
</footer>
<script src="js/main.min.js"></script>
</body>

</html>