<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RDD Meat || Main page</title>
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#89101d">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header lock-padding">
        <div class="header__wrapper">
            <div class="overlay lock-padding"></div>
            <nav class="container menu">
                <a class="logo" href="#">
                    <img class="logo__img" src="images/logo.svg" alt="Логотип М'ясо" width="130" height="130">
                </a>
                <button class="burger" type="button">
                    <span class="burger__line"></span>
                    <span class="sr-only">Open menu</span>
                </button>
                <div class="menu__inner">
                    <ul class="menu__items">
                        <li class="menu__item"><a class="link menu__link" href="#categories">All Categories </a>
                        </li>
                        <li class="menu__item">
                            <a class="link menu__link" href="#quality">Quality </a>
                        </li>
                        <li class="menu__item">
                            <a class="link menu__link" href="#product">Product </a>
                        </li>
                        <li class="menu__item">
                            <a class="link menu__link" href="#about">About Us </a>
                        </li>
                        <li class="menu__item">
                            <a class="link menu__link" href="#contacts">Contacts </a>
                        </li>
                    </ul>
                    <ul class="lang">
                        <li class="lang__item"><a class="link lang__link" href="#">eng </a></li>
                        <li class="lang__item"><a class="link lang__link" href="#">ukr </a></li>
                    </ul>
                </div>
            </nav>
            <div class="overlay"></div>
        </div>
    </header>