< !DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meet shop || Головна сторінка</title>
        <link rel="stylesheet" href="css/style.min.css">
    </head>

    <body>
        <header class="header">
            <div class="header__wrapper">
                <div class="overlay"></div>
                <nav class="container menu">
                    <a class="logo" href="#">
                        <img class="logo__img" src="images/logo.png" alt="Логотип М'ясо" width="129" height="129">
                    </a>
                    <button class="burger" type="button">
                        <span class="burger__line"></span>
                        <span class="sr-only">Open menu</span>
                    </button>
                    <div class="menu__inner">
                        <ul class="menu__items">
                            <li class="menu__item"><a class="link menu__link" href="#categories">All Categories </a>
                            </li>
                            <li class="menu__item">
                                <a class="link menu__link" href="#quality">Quality </a>
                            </li>
                            <li class="menu__item">
                                <a class="link menu__link" href="#product">Product </a>
                            </li>
                            <li class="menu__item">
                                <a class="link menu__link" href="#about">About Us </a>
                            </li>
                            <li class="menu__item">
                                <a class="link menu__link" href="#contacts">Contacts </a>
                            </li>
                        </ul>
                        <ul class="lang">
                            <li class="lang__item"><a class="link lang__link" href="#">eng </a></li>
                            <li class="lang__item"><a class="link lang__link" href="#">ukr </a></li>
                        </ul>
                    </div>
                </nav>
                <div class="overlay"></div>
            </div>
        </header>